.container {
  max-width: 32.7rem;
  padding: 2.4rem 2.4rem 3.2rem;
  border-radius: 1.5rem;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
}

.star-div,
.rating-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.information-div {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  text-align: left;
}

h1 {
  color: var(--Pure-White, #fff);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.6rem;
}

.main-text {
  color: var(--Light-Grey, #969fad);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.rating-div {
  display: flex;
  gap: 1.7rem;
  margin-top: 2.4rem;
  justify-content: center;
  width: 100%;
}

.rating-button {
  color: var(--Medium-Gray, #7c8798);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.175px;
}

.submit-div {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.submit-button {
  background-color: #fc7614;
  color: var(--Pure-White, #fff);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1867rem;
  border: none;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-radius: 2.25rem;
}

.submit-button:hover {
  background-color: #ffffff;
  color: #fc7614;
  transition: 0.2s;
  cursor: pointer;
}

.rating-button:hover {
  background-color: #fc7614;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.ty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.thank-you-image {
  width: 14.4rem;
}

.rate-text {
  background-color: #262e38;
  padding: 1rem 1.5rem;
  border-radius: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-chosen-text {
  color: var(--Orange, #fc7614);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  transform: translateY(10%);
}

.text-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2.4rem;
}

/* Desktop */

@media only screen and (min-width: 90rem) {
  .container {
    max-width: 41.2rem;
    padding: 3.2rem;
  }

  .star-div,
  .rating-button {
    width: 4.8rem;
    height: 4.8rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  .main-text {
    font-size: 1.5rem;
  }

  .rating-div {
    gap: 2.1rem;
  }

  .submit-button {
    font-size: 1.5rem;
  }

  .user-chosen-text {
    font-size: 1.5rem;
  }

  .thank-you-image {
    width: 16.2rem;
  }
}
